body{
  font: 15px/1.5 Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Header */
header {
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#cd950c 3px solid;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header #branding{
  float:left;
}
header #branding h1{
  margin:0;
  font-size: 28px;
}
header nav{
  float:right;
  margin-top: 8px;
}
ul{
  margin:0;
  padding:0;
}
header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}
header ul li a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  transition: .3s ease-in-out;
}
header  {
	font-size: 18px;
}
header .highlight, header .current a{
  color:#cd950c;
  font-weight:bold;
}
header a:hover{
  color:#cccccc;
}




/* Footer */
footer {
  padding:20px;
  color:#ffffff;
  background-color:#cd950c;
  text-align: center;
}
.beforeFooter {
	padding-bottom: 20px;
}




/* Media Queries */
@media screen and (max-width: 883px){
    float:none;
    text-align:center;
    width:100%;
  }
  
  header nav {
	  margin: 8px 0;
  }
  
}