body{
  font: 15px/1.5 Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}



/* Header */
header {
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#cd950c 3px solid;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header #branding{
  float:left;
}
header #branding h1{
  margin:0;
  font-size: 28px;
}
header nav{
  float:right;
  margin-top: 8px;
}
ul{
  margin:0;
  padding:0;
}
header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}
header ul li a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  transition: .3s ease-in-out;
}
header  {
	font-size: 18px;
}
header .highlight, header .current a{
  color:#cd950c;
  font-weight:bold;
}
header a:hover{
  color:#cccccc;
}


/* Home Page */
#maininfo {
  padding: 40px 0;
  text-align:center;
  color:#000;
}
#maininfo h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}
#maininfo p{
  font-size:20px;
}



/* Page Contents */
#openingtimes {
  padding:25px 15px;
  color:#ffffff;
  background:#35424a;
  text-align: center;
}
#openingtimes h2{
	margin: 8px 0;
}
#openingtimes p {
	display: inline-block;
	margin: 5px 16px;
}



/* Tiled Infos */
#tiledinfos {
  margin-top:20px;
  text-align: center;
}
#tiledinfos .box {
  display: inline-block;
  vertical-align: middle;
  margin:30px 20px;
  width: 44%;
}
#tiledinfos .box img{
  width: 100px;
}
#tiledinfos p {
	display: inline-block;
}



/* Imaged Infos */
#imagedinfos {
  margin-top:20px;
  text-align: center;
}
#imagedinfos .box {
  display: inline-block;
  vertical-align: top;
  margin:30px 20px 0 20px;
  width: 44%;
}
#imagedinfos .box img{
  width: 75%;
  height: auto;
  min-width: 100px;
  max-width: 400px;
}
#imagedinfos p {
	display: inline-block;
	max-width: 400px;
}


/* Event Infos */
#eventinfos {
  margin-top:20px;
  text-align: center;
}
#eventinfos .box {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 30px 0;
  position: relative;
}
#eventinfos .box img{
  height: auto;
  min-width: 100px;
  max-width: 400px;
}

/* Image transition */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 42, 48, .5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}





/* Main Event Articles */
#main {
	background: #35424a;
	color: #fff;
}
article#main-col{
  float:left;
  width:100%;
}
/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: rgba(33, 42, 48, 1) solid 1px;
  margin-bottom:5px;
  background: rgba(33, 42, 48, .5);
}
.page-title {
	text-align: center;
}


/* Contact Page */
.map {
	width: 100%;
	height: 520px;
	margin: 0;
	border: 0;
}



/* Footer */
footer {
  padding:20px;
  color:#ffffff;
  background-color:#cd950c;
  text-align: center;
}
.beforeFooter {
	padding-bottom: 20px;
}



/* Media Queries */
@media screen and (max-width: 883px){
  header #branding,
  header nav,
  header nav li{
    float:none;
    text-align:center;
    width:100%;
  }
  
  header nav {
	  margin: 8px 0;
  }
    .container {
	  padding: 0 0 10px 0;
  }
    
	.map {
	  height: 350px;
  }
  
}